# Anomaly Detection - Project

In [1]:
# library imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import scipy.stats as stats

import env

import warnings
warnings.filterwarnings("ignore")

In [194]:
# access Codeup SQL Server for Curriculum Logs

url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/curriculum_logs'
query = '''
SELECT date,
       path as endpoint,
       user_id,
       ip as source_ip,
       name as cohort,
       program_id,
       start_date,
       end_date
FROM logs
JOIN cohorts ON cohorts.id = logs.cohort_id;
'''
df = pd.read_sql(query, url)
df.head()

,date,endpoint,user_id,source_ip,cohort,program_id,start_date,end_date
0,2018-01-26,/,1,97.105.19.61,Hampton,1,2015-09-22,2016-02-06
1,2018-01-26,java-ii,1,97.105.19.61,Hampton,1,2015-09-22,2016-02-06
2,2018-01-26,java-ii/object-oriented-programming,1,97.105.19.61,Hampton,1,2015-09-22,2016-02-06
3,2018-01-26,slides/object_oriented_programming,1,97.105.19.61,Hampton,1,2015-09-22,2016-02-06
4,2018-01-26,javascript-i/conditionals,2,97.105.19.61,Teddy,2,2018-01-08,2018-05-17

In [10]:
# change date to date_time format, and set the index to it

df.date = pd.to_datetime(df.date)
df = df.set_index(df.date)

### Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

In [36]:
# Drop rows where cohort contains 'staff' (case-insensitive)
df = df[~df['cohort'].str.contains('staff', case=False)]

In [37]:
# Group the data by lesson and count users 
lesson_counts = df.groupby('endpoint')['user_id'].count()

# Sort the lessons by their counts
sorted_lessons = lesson_counts.sort_values(ascending=False)

# Print the top 10 lessons by count
print(sorted_lessons.head(10))

endpoint
/                           39514
toc                         16680
javascript-i                16386
search/search_index.json    16185
html-css                    11843
java-iii                    11773
java-ii                     10917
spring                      10480
jquery                      10124
mysql                        9716
Name: user_id, dtype: int64

In [38]:
# Group the data by both lesson and cohort, and count the number of times each lesson was referred to by each cohort
cohort_lesson_counts = df.groupby(['cohort', 'endpoint'])['user_id'].count()

In [39]:
# Loop through each cohort and compare its count for each lesson to the average count across all cohorts

for cohort in df['cohort'].unique():
    cohort_lessons = cohort_lesson_counts[cohort_lesson_counts.index.get_level_values('cohort') == cohort]

In [40]:
cohort_lessons

cohort  endpoint
Oberon  /                                                                            131
        appendix                                                                      10
        appendix/code-standards/javascript                                             1
        appendix/coding-challenges                                                     1
        appendix/coding-challenges/amateur                                             2
        appendix/extra-challenges                                                      1
        appendix/extra-challenges/basic-challenges                                     3
        appendix/further-reading/javascript/array-splice                               1
        appendix/further-reading/javascript/hoisting                                   4
        appendix/git                                                                   1
        appendix/git/branching                                                         1
        appendix/git/intellij                                                          5
        appendix/git/intellij-intro                                                   25
        appendix/pair-programming                                                      1
        appendix/professional-development/job-search-workshop                          1
        capstone                                                                       2
        html-css                                                                      21
        html-css/introduction                                                          1
        java-i                                                                         4
        java-i/strings                                                                 1
        java-ii/annotations                                                            1
        java-iii                                                                       1
        java-iii/jsp-and-jstl                                                          1
        java-iii/servlets                                                              1
        javascript-i                                                                 136
        javascript-i/arrays                                                            3
        javascript-i/bom-and-dom                                                       2
        javascript-i/bom-and-dom/bom                                                   2
        javascript-i/bom-and-dom/dom                                                   1
        javascript-i/coffee-project                                                    5
        javascript-i/conditionals                                                    144
        javascript-i/functions                                                       171
        javascript-i/introduction                                                     88
        javascript-i/introduction/operators                                          179
        javascript-i/introduction/primitive-types                                    177
        javascript-i/introduction/variables                                           95
        javascript-i/introduction/working-with-data-types-operators-and-variables    146
        javascript-i/javascript-with-html                                            125
        javascript-i/loops                                                            13
        javascript-i/objects                                                           1
        javascript-i/objects/math                                                      1
        javascript-i/testing-user-functions                                           42
        javascript-ii                                                                  3
        jquery                                                                         4
        jquery/essential-methods/attributes-and-css                                    1
        search/search_index.json                                                       9
        spring                                                                         2
        toc                                                                          101
Name: user_id, dtype: int64

In [41]:
# Compute the count of each lesson across all cohorts
lesson_counts = df.groupby('endpoint')['user_id'].count()

# Filter out lessons with less than 100 total counts across all cohorts
valid_lessons = lesson_counts[lesson_counts >= 100].index

# Compute the count of each lesson for each cohort
cohort_lesson_counts = pd.pivot_table(df, values='user_id', index='cohort', columns='endpoint', aggfunc='count', fill_value=0)

In [42]:
cohort_lesson_counts

endpoint,%20https://github.com/RaulCPena,",%20https://github.com/RaulCPena",.git,.gitignore,.well-known/assetlinks.json,/,00_index,01_intro,02_listing_files,03_file_paths,...,web-design/ui/visuals,web-design/ux,web-design/ux/layout,web-design/ux/layout/.json,web-design/ux/purpose,web-dev-day-two,where,working-with-time-series-data,wp-admin,wp-login
cohort,,,,,,,,,,,,,,,,,,,,,
Andromeda,0,0,0,0,0,1174,0,0,0,0,...,11,0,6,0,8,0,0,0,0,0
Apex,0,0,0,0,0,1346,0,0,0,0,...,20,0,18,0,23,0,0,0,0,0
Apollo,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Arches,0,0,0,0,0,626,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Badlands,0,0,0,0,0,17,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Bash,0,0,0,0,0,772,0,0,0,0,...,5,0,3,0,3,2,0,0,0,0
Bayes,0,0,0,0,0,1967,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Betelgeuse,0,0,0,0,0,955,0,0,0,0,...,30,0,38,0,32,0,0,0,0,0
Ceres,0,0,0,0,0,1653,0,0,0,0,...,34,0,34,1,28,0,0,0,0,0
Curie,1,1,0,0,0,1712,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Darden,0,0,0,1,0,2980,0,0,0,0,...,0,0,0,0,0,0,0,14,0,0
Deimos,0,0,0,0,0,1467,0,0,0,0,...,16,0,19,0,14,0,0,0,0,0
Denali,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Easley,0,0,0,0,0,1115,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Europa,0,0,0,0,0,1295,0,0,0,0,...,35,1,33,0,29,0,0,0,0,0
Everglades,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Florence,0,0,0,0,0,584,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Fortuna,0,0,0,0,0,2038,0,0,0,0,...,13,0,21,0,15,0,0,0,0,0
Franklin,0,0,0,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ganymede,0,0,0,0,0,1727,0,0,0,0,...,11,0,12,0,10,0,0,0,0,0
Glacier,0,0,0,0,0,51,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Hampton,0,0,0,0,0,210,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Hyperion,0,0,0,0,2,1365,0,0,0,0,...,2,0,5,0,5,0,0,0,0,0
Ike,0,0,0,0,0,19,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Joshua,0,0,0,0,0,8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Jupiter,0,0,0,0,0,1696,0,0,0,0,...,11,0,18,0,19,0,0,0,0,0
Kalypso,0,0,0,0,0,939,0,0,0,0,...,5,0,5,0,4,0,0,0,0,0
Kings,0,0,0,0,0,219,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Lassen,0,0,0,0,0,125,0,0,0,0,...,6,0,7,0,8,0,0,0,0,0
Luna,0,0,0,0,0,491,0,0,0,0,...,2,0,2,0,4,0,0,0,0,0
Mammoth,0,0,0,0,0,33,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Marco,0,0,0,0,0,699,0,0,0,0,...,3,0,6,0,3,0,0,0,0,0
Neptune,0,0,0,0,0,472,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Niagara,0,0,0,0,0,37,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Oberon,0,0,0,0,0,131,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Olympic,0,0,0,0,0,249,0,0,0,0,...,20,0,22,0,21,0,0,0,0,0
Pinnacles,0,0,0,0,0,149,0,0,0,0,...,1,0,1,0,1,0,0,0,0,0
Quincy,0,0,0,0,0,151,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Sequoia,0,0,0,0,0,630,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
Teddy,0,0,0,0,0,1828,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
Ulysses,0,0,0,0,0,1641,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Voyageurs,0,0,1,1,0,2101,0,0,0,0,...,1,0,1,0,1,0,0,0,0,0
Wrangell,0,0,0,0,0,1132,2,2,1,1,...,1,0,1,0,1,0,0,0,0,0
Xanadu,0,0,0,0,0,924,0,0,0,0,...,2,0,2,0,2,0,0,0,0,0
Yosemite,0,0,0,0,0,981,0,0,0,0,...,1,0,2,0,2,0,0,0,0,0
Zion,0,0,0,0,0,1798,0,0,0,0,...,1,0,1,0,1,0,0,0,0,0

In [43]:
# Filter out lessons with less than 100 counts
cohort_lesson_counts = cohort_lesson_counts.loc[:, (cohort_lesson_counts >= 100).any()]

In [44]:
cohort_lesson_counts

endpoint,/,1-fundamentals/1.1-intro-to-data-science,1-fundamentals/1.2-data-science-pipeline,1-fundamentals/1.3-pipeline-demo,1-fundamentals/2.2-excel-functions,1-fundamentals/2.3-visualization-with-excel,1-fundamentals/2.4-more-excel-features,1-fundamentals/AI-ML-DL-timeline.jpg,1-fundamentals/DataToAction_v2.jpg,1-fundamentals/modern-data-scientist.jpg,...,stats/probability-distributions,stats/simulation,storytelling/create,storytelling/understand,timeseries/acquire,timeseries/explore,timeseries/modeling-lesson1,timeseries/prep,timeseries/working-with-time-series-data,toc
cohort,,,,,,,,,,,,,,,,,,,,,
Andromeda,1174,1,1,1,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,638
Apex,1346,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,810
Apollo,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Arches,626,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,66
Badlands,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
Bash,772,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,404
Bayes,1967,640,221,130,153,175,115,648,230,650,...,12,13,2,3,10,8,25,13,7,9
Betelgeuse,955,9,1,0,1,0,0,8,1,9,...,0,0,0,0,0,0,0,0,0,610
Ceres,1653,7,0,0,0,0,0,7,0,7,...,0,0,0,0,0,0,0,0,0,911
Curie,1712,461,146,60,27,88,16,465,148,467,...,19,15,1,1,27,23,22,27,3,0
Darden,2980,460,284,110,35,54,63,470,297,470,...,269,215,139,117,176,116,125,118,142,2
Deimos,1467,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,750
Denali,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Easley,1115,8,0,0,7,6,20,7,0,7,...,125,127,155,102,74,67,57,58,68,0
Europa,1295,0,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,964
Everglades,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Florence,584,64,0,0,0,0,0,61,0,61,...,1,1,2,4,0,0,0,0,0,0
Fortuna,2038,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1293
Franklin,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ganymede,1727,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,822
Glacier,51,7,0,0,0,0,0,7,0,7,...,0,0,0,0,0,0,0,0,0,13
Hampton,210,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
Hyperion,1365,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1022
Ike,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
Joshua,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
Jupiter,1696,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1866
Kalypso,939,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,495
Kings,219,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13
Lassen,125,1,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,10
Luna,491,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,373
Mammoth,33,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Marco,699,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,910
Neptune,472,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,451
Niagara,37,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
Oberon,131,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,101
Olympic,249,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,22
Pinnacles,149,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12
Quincy,151,2,0,0,0,0,1,2,0,2,...,0,0,0,0,0,0,0,0,0,12
Sequoia,630,5,1,1,0,0,0,5,1,5,...,0,0,0,0,0,0,0,0,0,36
Teddy,1828,2,4,3,2,2,0,2,4,2,...,0,0,0,0,0,0,0,0,0,83
Ulysses,1641,3,0,0,0,0,0,3,0,3,...,0,0,0,0,0,0,0,0,0,89
Voyageurs,2101,3,3,1,1,1,0,3,3,3,...,0,0,0,0,0,0,0,0,0,272
Wrangell,1132,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,991
Xanadu,924,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,443
Yosemite,981,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,697
Zion,1798,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1465

In [45]:
# Compute the z-score for each lesson count across all cohorts
cohort_lesson_counts_z = (cohort_lesson_counts - cohort_lesson_counts.mean()) / cohort_lesson_counts.std()

In [148]:
# Set the threshold for the z-score
z_threshold = 6

In [149]:
# Loop through each lesson and check if at least one coho5rt has a z-score greater than the threshold
for lesson in cohort_lesson_counts_z.columns:
    if (cohort_lesson_counts_z[lesson] > z_threshold).any():
        print(f"At least one cohort referred to lesson {lesson} significantly more than other cohorts")

At least one cohort referred to lesson 1-fundamentals/2.2-excel-functions significantly more than other cohorts
At least one cohort referred to lesson 2-storytelling/project significantly more than other cohorts
At least one cohort referred to lesson 3-sql/1-mysql-overview significantly more than other cohorts
At least one cohort referred to lesson 3-sql/11-more-exercises significantly more than other cohorts
At least one cohort referred to lesson 3-sql/12-more-exercises significantly more than other cohorts
At least one cohort referred to lesson 4-python/7-working-with-files significantly more than other cohorts
At least one cohort referred to lesson 4-python/7.2-intro-to-matplotlib significantly more than other cohorts
At least one cohort referred to lesson 4-python/7.3-intro-to-numpy significantly more than other cohorts
At least one cohort referred to lesson 4-python/7.4.2-series significantly more than other cohorts
At least one cohort referred to lesson 4-python/7.4.3-dataframes significantly more than other cohorts
At least one cohort referred to lesson 4-python/7.4.4-advanced-dataframes significantly more than other cohorts
At least one cohort referred to lesson 4-python/7.5-intro-to-seaborn significantly more than other cohorts
At least one cohort referred to lesson 4-python/8.2-intro-to-matplotlib significantly more than other cohorts
At least one cohort referred to lesson 4-python/8.4.2-series significantly more than other cohorts
At least one cohort referred to lesson 4-python/8.4.3-dataframes significantly more than other cohorts
At least one cohort referred to lesson 4-python/8.4.4-advanced-dataframes significantly more than other cohorts
At least one cohort referred to lesson 4-python/8.5-intro-to-seaborn significantly more than other cohorts
At least one cohort referred to lesson 6-regression/2.0-acquire-and-prep significantly more than other cohorts
At least one cohort referred to lesson 6-regression/3.0-split-and-scale significantly more than other cohorts
At least one cohort referred to lesson 6-regression/4.0-explore significantly more than other cohorts
At least one cohort referred to lesson 6-regression/5-evaluate significantly more than other cohorts
At least one cohort referred to lesson 6-regression/5.0-evaluate significantly more than other cohorts
At least one cohort referred to lesson 6-regression/6.0-feature-engineering significantly more than other cohorts
At least one cohort referred to lesson 6-regression/7-model significantly more than other cohorts
At least one cohort referred to lesson 6-regression/7.0-model significantly more than other cohorts
At least one cohort referred to lesson 6-regression/8-project significantly more than other cohorts
At least one cohort referred to lesson 7-classification/4-explore significantly more than other cohorts
At least one cohort referred to lesson 7-classification/5-evaluation significantly more than other cohorts
At least one cohort referred to lesson 8-clustering/2-about significantly more than other cohorts
At least one cohort referred to lesson 8-clustering/5-model significantly more than other cohorts
At least one cohort referred to lesson 8-clustering/5.1-kmeans-part-1 significantly more than other cohorts
At least one cohort referred to lesson 8-clustering/5.2-kmeans-part-2 significantly more than other cohorts
At least one cohort referred to lesson 8-clustering/Hospital-Distance-Clusters.jpg significantly more than other cohorts
At least one cohort referred to lesson 9-timeseries/5.1-modeling-lesson1 significantly more than other cohorts
At least one cohort referred to lesson anomaly-detection/AnomalyDetectionCartoon.jpeg significantly more than other cohorts
At least one cohort referred to lesson anomaly-detection/continuous-probabilistic-methods significantly more than other cohorts
At least one cohort referred to lesson anomaly-detection/detecting-timeseries-anomalies significantly more than other cohorts
At least one cohort referred to lesson anomaly-detection/discrete-probabilistic-methods significantly more than other cohorts
At least one cohort referred to lesson anomaly-detection/overview significantly more than other cohorts
At least one cohort referred to lesson classification/classical_programming_vs_machine_learning.jpeg significantly more than other cohorts
At least one cohort referred to lesson classification/logistic-regression significantly more than other cohorts
At least one cohort referred to lesson classification/overview significantly more than other cohorts
At least one cohort referred to lesson classification/prep significantly more than other cohorts
At least one cohort referred to lesson clustering/now_what.jpg significantly more than other cohorts
At least one cohort referred to lesson clustering/using-clusters significantly more than other cohorts
At least one cohort referred to lesson clustering/wrangle significantly more than other cohorts
At least one cohort referred to lesson distributed-ml/spark-api significantly more than other cohorts
At least one cohort referred to lesson index.html significantly more than other cohorts
At least one cohort referred to lesson java-ii/deployment-and-dependencies significantly more than other cohorts
At least one cohort referred to lesson nlp/acquire significantly more than other cohorts
At least one cohort referred to lesson nlp/explore significantly more than other cohorts
At least one cohort referred to lesson nlp/github_repo_language.gif significantly more than other cohorts
At least one cohort referred to lesson nlp/model significantly more than other cohorts
At least one cohort referred to lesson nlp/prepare significantly more than other cohorts
At least one cohort referred to lesson nlp/project significantly more than other cohorts
At least one cohort referred to lesson nlp/regular-expressions significantly more than other cohorts
At least one cohort referred to lesson regression/feature-engineering significantly more than other cohorts
At least one cohort referred to lesson sql/database-design significantly more than other cohorts
At least one cohort referred to lesson stats/Selecting_a_hypothesis_test.svg significantly more than other cohorts
At least one cohort referred to lesson stats/compare-group-membership significantly more than other cohorts
At least one cohort referred to lesson stats/more-statistical-testing-examples significantly more than other cohorts
At least one cohort referred to lesson timeseries/acquire significantly more than other cohorts

In [136]:
# Find the lesson with the highest z-score
lesson_with_highest_zscore = cohort_lesson_counts_z.max().idxmax()

print(f"The lesson with the highest z-score is {lesson_with_highest_zscore}")

The lesson with the highest z-score is 4-python/7.4.2-series

In [137]:
# Find the lesson with the highest z-score
lesson_with_highest_zscore = cohort_lesson_counts_z.max().idxmax()

# Find the cohort with the highest z-score for the lesson with the highest z-score
cohort_with_highest_zscore = cohort_lesson_counts_z.loc[:, lesson_with_highest_zscore].idxmax()

print(f"The cohort with the highest contribution to the z-score for {lesson_with_highest_zscore} is {cohort_with_highest_zscore}")

The cohort with the highest contribution to the z-score for 4-python/7.4.2-series is Bayes

### Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 763299 entries, 2018-01-26 to 2021-04-21
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        763299 non-null  datetime64[ns]
 1   endpoint    763298 non-null  object
 2   user_id     763299 non-null  int64
 3   source_ip   763299 non-null  object
 4   cohort      763299 non-null  object
 5   program_id  763299 non-null  int64
 6   start_date  763299 non-null  object
 7   end_date    763299 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 52.4+ MB

In [53]:
df.head()

,date,endpoint,user_id,source_ip,cohort,program_id,start_date,end_date
date,,,,,,,,
2018-01-26,2018-01-26,/,1,97.105.19.61,Hampton,1,2015-09-22,2016-02-06
2018-01-26,2018-01-26,java-ii,1,97.105.19.61,Hampton,1,2015-09-22,2016-02-06
2018-01-26,2018-01-26,java-ii/object-oriented-programming,1,97.105.19.61,Hampton,1,2015-09-22,2016-02-06
2018-01-26,2018-01-26,slides/object_oriented_programming,1,97.105.19.61,Hampton,1,2015-09-22,2016-02-06
2018-01-26,2018-01-26,javascript-i/conditionals,2,97.105.19.61,Teddy,2,2018-01-08,2018-05-17

In [171]:
# Calculate total number of times each student accessed any endpoint during their active period
student_activity_counts = df[df.index < df['end_date']].groupby('user_id')['endpoint'].count()

# Filter out students who accessed the curriculum fewer than 10 times during their active period
inactive_students = student_activity_counts[student_activity_counts < 5].index.tolist()

# Print information about inactive students
inactive_student_data = df[df['user_id'].isin(inactive_students)][['user_id', 'cohort', 'start_date', 'end_date']].drop_duplicates()
print(inactive_student_data)

            user_id     cohort  start_date    end_date
date
2018-09-27      278  Voyageurs  2018-05-29  2018-10-11
2019-11-04      539     Europa  2019-11-04  2020-04-17
2020-12-07      832    Jupiter  2020-09-21  2021-03-30
2021-04-15      956     Oberon  2021-04-12  2021-10-01

In [73]:
# Calculate total number of times each student accessed each endpoint during their active period
inactive_student_endpoint_counts = df[df.index < df['end_date']].groupby(['user_id', 'endpoint']).size()

# Filter out inactive students who accessed the curriculum fewer than 5 times
inactive_students = student_activity_counts[student_activity_counts < 5].index.tolist()

# Calculate the number of times each inactive student accessed each endpoint during their active period
inactive_student_endpoint_counts = inactive_student_endpoint_counts.loc[inactive_students]

# Remove the '/' endpoint from the results
inactive_student_endpoint_counts = inactive_student_endpoint_counts.reset_index().query('endpoint != "/"').set_index(['user_id', 'endpoint'])

# Print the results
print(inactive_student_endpoint_counts)

                             0
user_id endpoint
278     java-ii/arrays       2
        java-ii/collections  1
832     html-css             1
        javascript-i         1

In [170]:
# Group the DataFrame by student and count the number of times each student accessed the curriculum
student_access_counts = df.groupby('user_id')['endpoint'].count()

# Calculate the mean and standard deviation of the access counts
mean_access_count = student_access_counts.mean()
std_access_count = student_access_counts.std()

# Calculate the Z-scores for each student's access count
z_scores = (student_access_counts - mean_access_count) / std_access_count

# Identify any Z-scores that are less than -1.05 standard deviations from the mean
outliers = z_scores[z_scores < -1.05]

# Print the outliers and any available information about these students
if not outliers.empty:
    print(f"Found {len(outliers)} outlier students:")
    for student_id, z_score in outliers.iteritems():
        print(f"Student ID {student_id}: Z-score = {z_score:.2f}")
        # Here you could retrieve additional information about the student from your data
else:
    print("No outlier students found.")

Found 4 outlier students:
Student ID 165: Z-score = -1.05
Student ID 212: Z-score = -1.05
Student ID 574: Z-score = -1.05
Student ID 593: Z-score = -1.05

In [196]:
df[df['user_id'] == 165]

,date,endpoint,user_id,source_ip,cohort,program_id,start_date,end_date
35018,2018-03-30,index.html,165,24.243.3.200,Niagara,2,2016-10-26,2017-03-09

In [197]:
df[df['user_id'] == 272]

,date,endpoint,user_id,source_ip,cohort,program_id,start_date,end_date
121776,2018-09-17,/,272,97.105.19.58,Xanadu,2,2018-09-17,2019-02-08
121826,2018-09-17,toc,272,97.105.19.58,Xanadu,2,2018-09-17,2019-02-08
122113,2018-09-18,toc,272,97.105.19.58,Xanadu,2,2018-09-17,2019-02-08
122125,2018-09-18,html-css/introduction,272,97.105.19.58,Xanadu,2,2018-09-17,2019-02-08
122129,2018-09-18,html-css/elements,272,97.105.19.58,Xanadu,2,2018-09-17,2019-02-08
...,...,...,...,...,...,...,...,...
510688,2020-05-10,/,272,72.181.119.126,Xanadu,2,2018-09-17,2019-02-08
510689,2020-05-10,java-iii,272,72.181.119.126,Xanadu,2,2018-09-17,2019-02-08
510690,2020-05-10,java-ii,272,72.181.119.126,Xanadu,2,2018-09-17,2019-02-08
510691,2020-05-10,javascript-ii,272,72.181.119.126,Xanadu,2,2018-09-17,2019-02-08
510692,2020-05-10,javascript-ii/ajax-api,272,72.181.119.126,Xanadu,2,2018-09-17,2019-02-08

In [198]:
df[df['user_id'] == 574]

,date,endpoint,user_id,source_ip,cohort,program_id,start_date,end_date
415874,2020-01-30,/,574,24.160.4.6,Voyageurs,2,2018-05-29,2018-10-11
415875,2020-01-30,toc,574,24.160.4.6,Voyageurs,2,2018-05-29,2018-10-11

In [199]:
df[df['user_id'] == 593]

,date,endpoint,user_id,source_ip,cohort,program_id,start_date,end_date
431000,2020-02-17,index.html,593,167.24.104.150,Lassen,1,2016-07-18,2016-11-10

### What topics are grads continuing to reference after graduation and into their jobs (for each program)?

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 763299 entries, 2018-01-26 to 2021-04-21
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        763299 non-null  datetime64[ns]
 1   endpoint    763298 non-null  object
 2   user_id     763299 non-null  int64
 3   source_ip   763299 non-null  object
 4   cohort      763299 non-null  object
 5   program_id  763299 non-null  int64
 6   start_date  763299 non-null  object
 7   end_date    763299 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 52.4+ MB

In [75]:
df.head()

,date,endpoint,user_id,source_ip,cohort,program_id,start_date,end_date
date,,,,,,,,
2018-01-26,2018-01-26,/,1,97.105.19.61,Hampton,1,2015-09-22,2016-02-06
2018-01-26,2018-01-26,java-ii,1,97.105.19.61,Hampton,1,2015-09-22,2016-02-06
2018-01-26,2018-01-26,java-ii/object-oriented-programming,1,97.105.19.61,Hampton,1,2015-09-22,2016-02-06
2018-01-26,2018-01-26,slides/object_oriented_programming,1,97.105.19.61,Hampton,1,2015-09-22,2016-02-06
2018-01-26,2018-01-26,javascript-i/conditionals,2,97.105.19.61,Teddy,2,2018-01-08,2018-05-17

In [85]:
# Create a new DataFrame containing only the endpoints accessed by graduates after they have graduated
graduated_endpoints = df[(df['end_date'] <= df.index) & (df['program_id'].notna())]

# Group the DataFrame by program and endpoint, and count the number of times each endpoint is accessed
graduated_endpoint_counts = graduated_endpoints.groupby(['program_id', 'endpoint']).size()

# Print the results, sorted by program and then by count
print(graduated_endpoint_counts.groupby('program_id').apply(lambda x: x.sort_values(ascending=False)))

program_id  program_id  endpoint
1           1                                                          1681
                        index.html                                     1011
                        javascript-i                                    736
                        html-css                                        542
                        spring                                          501
                                                                       ...
3           3           viz.py                                            1
4           4           content/html-css                                  2
                                                                          1
                        content/html-css/gitbook/images/favicon.ico       1
                        content/html-css/introduction.html                1
Length: 1971, dtype: int64

In [86]:
top_counts = graduated_endpoint_counts.groupby(['program_id', 'endpoint']).size().reset_index(name='count').sort_values(by=['program_id', 'count'], ascending=[True, False])
print(top_counts.groupby('program_id').head(1))

      program_id endpoint  count
0              1               1
710            2               1
1530           3               1
1967           4               1

In [87]:
# Remove leading and trailing slashes from endpoint strings
df['endpoint'] = df['endpoint'].str.strip('/')

# Filter out endpoints that are empty strings or contain only whitespace
df = df[df['endpoint'].str.strip() != '']

# Filter the DataFrame to only include graduates
graduated_endpoints = df[(df['end_date'] <= df.index) & (df['program_id'].notna())]

# Group the DataFrame by program and endpoint, and count the number of times each endpoint is accessed
graduated_endpoint_counts = graduated_endpoints.groupby(['program_id', 'endpoint']).size()

# Print the results, sorted by program and then by count
print(graduated_endpoint_counts.groupby('program_id').apply(lambda x: x.sort_values(ascending=False).head()))

program_id  program_id  endpoint
1           1           index.html                                        1011
                        javascript-i                                       736
                        html-css                                           542
                        spring                                             501
                        java-iii                                           479
2           2           javascript-i                                      2416
                        spring                                            2368
                        search/search_index.json                          2222
                        html-css                                          1861
                        java-i                                            1831
3           3           search/search_index.json                           493
                        sql/mysql-overview                                 275
                        classification/overview                            267
                        classification/scale_features_or_not.svg           220
                        anomaly-detection/AnomalyDetectionCartoon.jpeg     193
4           4           content/html-css                                     2
                        content/html-css/gitbook/images/favicon.ico          1
                        content/html-css/introduction.html                   1
dtype: int64

### Which lessons are least accessed?

In [93]:
df.head()

,date,endpoint,user_id,source_ip,cohort,program_id,start_date,end_date
date,,,,,,,,
2018-01-26,2018-01-26,java-ii,1,97.105.19.61,Hampton,1,2015-09-22,2016-02-06
2018-01-26,2018-01-26,java-ii/object-oriented-programming,1,97.105.19.61,Hampton,1,2015-09-22,2016-02-06
2018-01-26,2018-01-26,slides/object_oriented_programming,1,97.105.19.61,Hampton,1,2015-09-22,2016-02-06
2018-01-26,2018-01-26,javascript-i/conditionals,2,97.105.19.61,Teddy,2,2018-01-08,2018-05-17
2018-01-26,2018-01-26,javascript-i/loops,2,97.105.19.61,Teddy,2,2018-01-08,2018-05-17

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 723785 entries, 2018-01-26 to 2021-04-21
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        723785 non-null  datetime64[ns]
 1   endpoint    723784 non-null  object
 2   user_id     723785 non-null  int64
 3   source_ip   723785 non-null  object
 4   cohort      723785 non-null  object
 5   program_id  723785 non-null  int64
 6   start_date  723785 non-null  object
 7   end_date    723785 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 49.7+ MB

In [96]:
# Group the DataFrame by lesson and count the number of times each lesson is accessed
lesson_counts = df.groupby('endpoint').size()

# Sort the results by count in ascending order
lesson_counts_sorted = lesson_counts.sort_values()

# Print the 10 least accessed lessons
print(lesson_counts_sorted.head(10))

endpoint
%20https://github.com/RaulCPena                                1
cohorts/24/capstone-all                                        1
cohorts/24/grades                                              1
console-io                                                     1
content/appendix/control-structures.html                       1
content/appendix/javascript/functions/controllers.html         1
content/appendix/javascript/functions/models.html              1
content/appendix/javascript/functions/scope.html               1
content/appendix/javascript/functions/templating.html          1
content/appendix/javascript/javascript/functions/scope.html    1
dtype: int64

In [113]:
results = lesson_counts_sorted[lesson_counts_sorted == 1]

In [119]:
results.sum()

419

In [118]:
for index in results.index:
    print(index)

%20https://github.com/RaulCPena
cohorts/24/capstone-all
cohorts/24/grades
console-io
content/appendix/control-structures.html
content/appendix/javascript/functions/controllers.html
content/appendix/javascript/functions/models.html
content/appendix/javascript/functions/scope.html
content/appendix/javascript/functions/templating.html
content/appendix/javascript/javascript/functions/scope.html
content/conditionals.html
content/control-structures-ii
content/examples/appendix
content/examples/constructors-destructors.html
content/examples/examples/examples/gitbook/images/favicon.ico
content/examples/examples/gitbook/images/favicon.ico
content/examples/git/gitbook/images/favicon.ico
content/examples/html
coding-challenges
content/examples/html/forms.html
codeupexercises
code-standards/javascript
capsones/151
capstone/50
capstone/52
capstone/53
capstone/54
capstone/55
capstone/jupiter
capstone/team
capstone/teams
capstones
case-statements
classification/explore-old
classification/knn.md
cli-06-moving-files
cli/4-navigating-the-filesystem
code-standards
code-standards/java
codeup-exercises
content/examples/javascript/conditionals.html
content/examples/javascript/primitive-types.html
content/examples/php/Input.php
data-1
data-science
data-science-modules.jpg
data-science-pipeline
decision-trees
dendogram_sample.jpeg
diagram-of-ds-pipeline-fraud-example.jpeg
ds
elements/html
end_to_end_clustering
essential-methods/traversing
evaluate
examples/bootstrap/pizza.pn
examples/bootstrap/pizza.png%22);
examples/bootstrap/pizza.png;
examples/css/%252e%252e%255c
examples/css/..%255c
curie-statistics-assessment
css-ii/grids
creating-charts
content/postwork/dashboard.md
content/examples/php/arithmetic.php
content/examples/php/internal_functions.php
content/examples/php/technology-companies.php
content/examples/php/while.html
content/git/index.html
content/html-css/elements-i/lists.html
content/html-css/forms-i/index.html
content/html-css/search_index.json
bonus-exercises
content/javascript-with-html.html
content/jquery/effects/gitbook/images/favicon.ico
content/jquery/events/gitbook/images/favicon.ico
wp-admin
content/loops.html
content/mysql/clauses/order-by.html
content/mysql/intro-to-mysql/index.html
content/mysql/relationships/indexes.html
content/php_iii/alternative-syntax.html
content/javascript/arrays/arrays
bom-and-dom/dom-events
bom-and-dom/dom
bad-charts
8.02_Prep
8.03_Explore
8.04.02_ParametricModeling
8.04.03_MLModeling
8.05_Deliver
8.0_Intro_Module
8.1_Overview
8._Time_Series
9-timeseries/6.1-parametric-modeling
9-timeseries/6.2-prophet
9.1_About
9.20_Data
A-clustering/project
About_NLP
Appendix_Tidy_Data
Dataset_Challenge
End_to_End_clustering
8.01_Acquire
8.00_Intro
7._Clustering
7.4.2-series
6.01.03_Summarize
6.02.01_Prep
6.02.02_MissingVals
6.03_Explore
6.04.01_Preprocessing
6.04.04_LogisticRegression
6.04.05_SVM
6.04.06_RandomForest
Index.html
6.04.07_Ensemble
6._Classification
7-classification/svm
7.00_Intro
7.01_Acquire
7.03_Explore
7.04.01_Partitioning
7.04.02_Hierarchical
7.4.1-pandas-overview
6.05_Deliver
examples/css/..%5c
PreWork/PreWork/cli
Regression_Python
appendix/interview-questions-students
appendix/java
appendix/java/intellij-tomcat-configuration
appendix/offer-letters
appendix/open_data/www.census.gov
appendix/open_data/www.flickr.com/services/api
appendix/open_data/www.openstreetmap.org
appendix/professional
appendix/spring/authorization
appendix/spring/security-use-cases
appendix/spring/seeder
appendix/univariate_regression_in_excel
appendix/www.opensecrets.org
arash-arghavan
asdf
asset-manifest.json
b-clustering/project
appendix/intellij-intro
appendix/further-reading/java/intellij-tomcat
appendix/further-reading/java/intellij
appendix/further-reading/flexbox-additional-concepts
acquire-and-prep
ajax
ajax-api-request.html
aliases
annotations
app
appendix/branching
appendix/capstone
RESTful-api
appendix/capstone-workbook/project-proposal
appendix/cli/2-Overview
appendix/cli/2-overview
appendix/cls/2-listing-files
appendix/css-practice
appendix/email-setup
appendix/extra-exercises
appendix/extra-exercises/javascript
appendix/further-reading/css-grid-additional-features
appendix/capstone/workbook
6.01.02_Acquirecsv
examples/css/..%c0%af
examples/javascript/jasmine-3.5.0.zip
query/personal-site
quic/115
quiz/submit/2186
quiz115
quiz118
quize/98
register.
regression/feature_engineering_into_modeling
regression/project/null
relationships/indexes
repo-doc
selectors
sgithubtudents/1215
slides/coding_best_practices
slides/css
slides/exceptions
slides/exceptions_and_error_handlings
python/introduction-to-python.md
slides/exceptions_and_errorhandlings
python/custom-sorting-functions
professional-development/job-search-workshop
mysql//extra-exercises
mysql//functions
mysql//ntellij
mysql//sample-database
mysql/clauses/limit-order-by
mysql/java-iii
nlp
npm
objects/math
one
php_i/gitbook/images/favicon.ico
prework/cli/03-filepaths
prework/cli/07-editing-files-with-vim
prework/fundamentals/function
prework/fundamentals/if-statement
prework/fundamentals/loop
professional-development/cover-letter
professional-development/professional-resume
slides/threads
slidesexceptions_and_errorhandlings
spark-execution-diagram.svg
students/units/75/sub_units/268
syntax-types-and-variables
tc-ml
team
teams
teams/13
tidy-data
timeline/java-i
tools/codeup
ui/typography
understand
uploads/58a217a705bde.jpg
uploads/598dc43df39e2.jpg
viz.py
web-design/ux
web-design/ux/layout/.json
where
students/743/notes/1
students/743/notes/0
students/743/notes
students/468/notes
spark-local-mode.svg
spring/services
sql
sql.mysql-overview
sql/database
sql/mysql-introduction.md
src
statistics-assessment
ml-methodologies-drawing.jpg
stats-assessment
strings
student
student-page
student/120
student/202
student/850
student/create
students
storytelling/creating-custom-fields.md
misleading3_deaths.jpg
misleading1_fox.jpg
misleading1_baseball.jpg
html
html-css/box
html-css/css-i/flexbox-fundamentals
html-css/css-i/positioning/specimen/MaterialIcons-Regular.ttf
html-css/css-i/positioning/specimen/MaterialIcons-Regular.woff
html-css/css-i/positioning/specimen/MaterialIcons-Regular.woff2
html-css/css-ii/boostrap-grid-system
html-css/elecments
html-css/grid/css-grid-fundamentals
html-css/img/favicon.ico
html/forms
htmle-css/elements
imports
index
interview
interview-questions
introduction-to-matplotlib
home
hfdgafdja
help
handouts
examples/twitter.html
extra
extra-
extra-challenges
extra-exercises/j
extra-features/file-upload
extra-features/json-response
fundamentals/1-fundamentals/modern-data-scientist.jpg
introduction-to-python
fundamentals/cli/navigating-the-filesystem.md
fundamentals/repositories
further-reading
further-reading/html-css/flexbox-additional-concepts
further-reading/javascript/array-splice
further-reading/spring
glossary
grades
grades/getUserDetails/916/3
fundamentals/intro-to-data-science.md
examples/html/welcome
itc%20-%20ml
jacascript-i/introdection
javascript-i/math
javascript-i/primitive-types
javascript-ii/promisesdfghjkjhgfs
javascript/apendix
javascript/google-maps-api
javascript/loops
job-board
job-portal
joins
jquery/ajax/requests-and-responses/.json
jquery/traversing
jquery/whack-a-mole
json-responses
jupiter
learn-to-code
main-pages_xXxXx.html
mini_exercises
javascript-i/loops/google.com
javascript-i/intruduction/operators
javascript-i/img/favicon.ico
javascript-i/html-css
java-1
java-i/control-stateedabitments-and-loops
java-i/control-statements-and-loops/g
java-i/loops
java-ii/file-op
java-iii/jdbc/poop
java-iii/mvc.jsp
java-iii/mvc/java-beans/'
itc-ml
java-iii/servelet
java-iii/servlets/cssasxz
java-iii/sessions-and-cookies/style/css
javascri
javascript-/introducion/working-with-dat-types-operators-and-variables
javascript-/introducion/working-with-data-types-operators-and-variables
javascript-functions
javascript-i/bom-and-dom/bom/google.com
javascript-i/bom-and-dom/bom/http%22://www.google.com
java-iii/servelets
6.01.01_AcquireSQL
wp-login
10._NLP
12-distributed-ml/6.4-prepare-part-4
2-stats/2.1-intro-to-excel
2-stats/2.2-excel-functions
2-stats/2.2-navigating-excel
12-distributed-ml/6.3-prepare-part-3
2-storytelling/1-overview/www.qlik.com
12-distributed-ml/6.2-prepare-part-2
12-distributed-ml/6.1-prepare-part-1
12-distributed-ml/5-inspect
12-distributed-ml/4-acquire
10.00_Intro.html
2-storytelling/chart-types
6.00_Intro
3-sql
12-distributed-ml/3-getting-started
13.01.02.01_Prep
4.6.0_DS_Libraries_Overview
115
10.01_Acquire_WebScraping
133
11.04_Modeling.md
132
130
13.01.02.02_TalkAndListen
4-python/pandas-lesson
13.01.02.03_Sketch
13.01.02.04_Prototype
12.3.6_Page_Styling
5.02_Prep
13.01.02_Create
13.01.03_Refine
4.2-compare-means
5.04.03_RidgeRegression
13.01.04_Present
5.04.04_LeastAngleRegression
5.04.05_Exercises
13.02_Tableau
13.03_Bokeh
13.11_Exercises
13.5_Tableau
12-distributed-ml/spark-topics
12-distributed-ml/8.1-classification
131
10.02.01_ParseText
13.01.01_Understand
11.03_Explore.md
10.04.03_SentimentAnalysis
5-regression/1-overview
6-regression/8-Project
10.2_Regex
11.00_Intro.md
10.10_Exercises
10.04.04_TextClassification
02_listing_files
05_creating_files_and_directories
10.02.02_POSTagging
4_Matplotlib_Styles
4_Objects
03_file_paths
04_navigating_the_filesystem
5-detecting-with-clustering
2.02.02_Sampling
2.1-spreadsheets-overview
10.04.05_TopicModeling
5-stats/4.2-compare-means/null
10.02.03_TFIDF
,%20https://github.com/RaulCPena
10.03_Explore
11.01.02_DataAcquisition
.git
10.04.01_FeatureExtraction_FreqBased
2.02.04_Distribution_and_Test
1-fundamentals/2.1-intro-to-excel
2.0_Intro_Stats
3-vocabulary
10.04.02_FeatureExtraction_Word2Vec

In [110]:
lesson_access_counts = df.groupby('endpoint')['user_id'].nunique()
lessons_barely_accessed = lesson_access_counts[lesson_access_counts == 1]
lessons_barely_accessed

endpoint
%20https://github.com/RaulCPena     1
,%20https://github.com/RaulCPena    1
.git                                1
.well-known/assetlinks.json         1
00_index                            1
                                   ..
web-design/ux/layout/.json          1
web-dev-day-two                     1
where                               1
wp-admin                            1
wp-login                            1
Name: user_id, Length: 553, dtype: int64

### Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [123]:
# Group the DataFrame by program and lesson, and sum the count of each lesson across all cohorts
program_lesson_counts = df.groupby(['program_id', 'endpoint'])['user_id'].sum()

# Sort the results by program and count
program_lesson_counts_sorted = program_lesson_counts.groupby('program_id').apply(lambda x: x.sort_values(ascending=False))

# Print the program and lesson with the highest count for each program
for program in program_lesson_counts_sorted.index.levels[0]:
    print(f"\nProgram: {program}")
    print(program_lesson_counts_sorted[program].head(10))

Program: 1
program_id  endpoint
1           javascript-i        79944
            index.html          62165
            html-css            57503
            java-i              51383
            content/html-css    43753
            javascript-ii       41641
            java-ii             39588
            jquery              39546
            spring              33933
            java-iii            33124
Name: user_id, dtype: int64

Program: 2
program_id  endpoint
2           toc                         9088058
            javascript-i                7837855
            search/search_index.json    7389507
            html-css                    5609408
            java-iii                    5167688
            java-ii                     4819362
            jquery                      4582666
            spring                      4271962
            mysql                       4190224
            java-i                      4078856
Name: user_id, dtype: int64

Program: 3
program_id  endpoint
3           search/search_index.json                    1391504
            classification/overview                     1257200
            fundamentals/AI-ML-DL-timeline.jpg          1156241
            fundamentals/modern-data-scientist.jpg      1153282
            classification/scale_features_or_not.svg    1133598
            fundamentals/intro-to-data-science          1131297
            sql/mysql-overview                          1036878
            1-fundamentals/modern-data-scientist.jpg     958751
            1-fundamentals/AI-ML-DL-timeline.jpg         956748
            1-fundamentals/1.1-intro-to-data-science     947358
Name: user_id, dtype: int64

Program: 4
program_id  endpoint
4           content/html-css                               304
            content/html-css/gitbook/images/favicon.ico    152
            content/html-css/introduction.html             152
Name: user_id, dtype: int64